<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
    <div class="card text-center">
      <div class="card-block">
        <h3 class="card-header">Login</h3>
      </div>
    </div>
    <form novalidate #meuForm="ngForm" (submit)="logar($event)">

      <div class="form-group row">
        <label for="login">Nome:</label>
        <input required name="login" #login="ngModel" [(ngModel)]="usuario.login" type="text" class="form-control" id="login" placeholder="Seu login...">
      </div>

      <div class="form-group row">
        <label for="senha">Senha:</label>
        <input required name="senha" #senha="ngModel" [(ngModel)]="usuario.senha" type="password" class="form-control" id="senha" placeholder="Sua senha...">
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-lg">Entrar </button> 
        </div>
        <br>
        <div class="col">
          <p><a href="#">Esqueceu sua senha?</a></p>
        </div>
      </div>
    </form>
    <br>
    <p class="text-center">Não possui uma conta? <a class="decoration" href="/cadastro">Crie agora! </a></p>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

<br>