<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header" data-background-color="red">
                      <h4 class="title">Login de Usuário</h4>
                      <p class="category">Faça o seu login no MyTeam</p>
                  </div>
                  <div class="card-content">
                    <form novalidate #meuForm="ngForm" (submit)="logar($event)">

                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Login de Usuário</label>
                                    <input required name="login" #login="ngModel" [(ngModel)]="usuario.login" 
                                    type="text" class="form-control" id="login">
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Senha</label>
                                    <input required name="senha" #senha="ngModel" [(ngModel)]="usuario.senha" minlength="3" maxlength="6"
                                    type="password" class="form-control" >
                                </div>
                            </div>
                        </div>
  
                          <button [disabled]="meuForm.form.invalid" type="submit" class="btn btn-danger pull-right">Login</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
  