<div class="main-content">
  <div class="container-fluid">
		<div class="row">
				<a href="#" class="btn btn-round btn-fill btn-info">Crie um novo time</a>
		</div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="red">
                      <h4 class="title">Meus times</h4>
                      <p class="category">Gerencie seus times</p>
									</div>
									<div class="card-content table-responsive">
										<table class="table table-hover">
												<thead>
														<tr>
																<th>Nome</th>
																<th>Tag</th>
																<th>Jogo</th>																
																<th>Situação</th>
																<th>Editar</th>
														</tr>
												</thead>
												<tbody>
														<tr *ngFor="let time of times">
																<td>{{time.nome}}</td>
																<td>{{time.tag}}</td>
																<td>{{time.jogo}}</td>
																<td>{{time.descricao}}</td>
														</tr>
												</tbody>
										</table>
								</div>
              </div>
          </div>

      </div>
  </div>
  </div>
  