<!-- wrapper -->
<div id="wrapper">
  <section class="hero cover hidden-xs" style="background-image: url(img/cover/cover-profile.jpg);">
    <div class="hero-bg"></div>
    <div class="container relative">
      <div class="page-header">
        <div class="page-title">Rafaelvicio <a href="#" class="btn btn-primary btn-sm btn-rounded" data-toggle="tooltip" title="Editar seu Perfil">Retorna ao Perfil <i class="fa fa-user"></i></a></div>
        <div class="profile-avatar">
          <div class="thumbnail" data-toggle="tooltip" title="YAKUZI">
            <a href="#">
              <img src="img/user/profile.jpg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="profile-nav height-50 border-bottom-1 border-grey-300  hidden-xs">
    <div class="tab-select sticky">
      <div class="container">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#">Pessoal</a></li>
          <li><a href="#">Segurança</span></a></li>
          <li><a href="#">Social</a></li>
          <li><a href="#">Localização</a></li>
          <li><a href="#">Contas</a></li>
          <li><a href="#">Jogos</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="bg-grey-50 padding-top-60 padding-top-sm-30">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 hidden-xs">
          <div class="widget">
            <div class="panel panel-default">
              <div class="panel-heading">Sobre</div>
              <div class="panel-body">
                Jogador da Selva na INTZ desde 2015! Bicampeão do Campeonato Brasileiro de League of Legends
                <ul class="panel-list margin-top-25">
                  <li><i class="fa fa-clock-o"></i> Data de inscrição: 26/08/2016</li>
                  <li><i class="fa fa-map-marker"></i> Brasilia</li>
                  <li><i class="fa fa-chain-broken"></i> www.esportsclub.com.br</li>
                  <br>
                  <li>
                  <a class="btn btn-circle btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-circle btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-circle btn-social-icon btn-facebook"><i class="fa fa-twitch"></i></a>
                  <a class="btn btn-circle btn-social-icon btn-pinterest"><i class="fa fa-youtube"></i></a>
                  <a class="btn btn-circle btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="widget widget-friends">
            <div class="panel panel-default">
              <div class="panel-heading">Times (3)</div>
              <div class="panel-body">
                <ul>
                  <li><a href="#" data-toggle="tooltip" title="Orb"><img src="img/user/avatar2.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Patrick"><img src="img/user/avatar3.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="John"><img src="img/user/avatar4.jpg" alt=""></a></li>

                </ul>
              </div>
            </div>
          </div>

          <div class="widget widget-friends">
            <div class="panel panel-default">
              <div class="panel-heading">Jogos (7)</div>
              <div class="panel-body">
                <ul>
                <li>
                  <a href="#" data-toggle="tooltip" title="Patrick"><img src="img/user/avatar3.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="John"><img src="img/user/avatar4.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Patrick"><img src="img/user/avatar3.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="John"><img src="img/user/avatar4.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Orb"><img src="img/user/avatar2.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Michael"><img src="img/user/avatar5.jpg" alt=""></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Orb"><img src="img/user/avatar2.jpg" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-9 col-sm-8">

        <div class="panel panel-default margin-bottom-40">

          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
            </br>


            <form class="form-label">
            <div class="form-group row">
              <label for="thread" class="col-md-2">Facebook:</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="facebook" placeholder="Facebook">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-md-2">Twitter</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="twitter	" placeholder="Twitter">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-md-2">Twitch</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="twitch" placeholder="Twitch">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-md-2">YouTube</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="youtube" placeholder="YouTube">
              </div>
            </div>
            <div class="form-group row">
              <label for="description" class="col-md-2">Instagram</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="instagram" placeholder="Instagram">
              </div>
            </div>

            <button type="button" class="btn btn-lg btn-block btn-rounded btn-shadow btn-primary ">Confirmar edições</button>



          </form>

            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </section>
</div>
<!-- /#wrapper -->
