<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
    <div class="card text-center">
      <div class="card-block">
        <h3 class="card-header">Cadastro</h3>
      </div>
    </div>
    <form novalidate #meuForm="ngForm" (submit)="cadastrar($event)">
       <div class="form-group row">
            <label for="login">Nome:</label>
            <input required name="login" #login="ngModel" [(ngModel)]="usuario.login" minlength="3" maxlength="6" type="text" class="form-control" id="login" placeholder="Seu login...">
        </div>

        <div class="form-group row">
            <label for="senha">Senha:</label>
            <input required name="senha" #senha="ngModel" [(ngModel)]="usuario.senha" type="password" class="form-control" id="senha" placeholder="Sua senha...">
        </div>

        <div class="form-group row">
            <label for="nome">Nome completo</label>
            <input required name="nome" #nome="ngModel" [(ngModel)]="usuario.nome" type="text" class="form-control" id="nome" placeholder="Seu nome...">
        </div>

        <div class="row">
            <div class="col">
            <button [disabled]="meuForm.form.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar </button> 
            </div>
        </div>
    </form>
    <br>
    <p class="text-center">Ja tem conta? <a class="decoration" href="/login">Faça login! </a></p>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

<br>