<div class="container">
<div class="row justify-content-md-center">

<div class="col col-lg-2"></div>


  <div class="col-12 col-md-auto">

  <br>
  <br>
  <br>

  <div class="card text-center">
  <h3 class="card-header">Login</h3>
  <div class="card-block">
    <form>
      <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">Email:</label>
        <div class="col-10">
          <input class="form-control" type="email">
        </div>
      </div>

      <div class="form-group row">
        <label for="example-email-input" class="col-2 col-form-label">Senha:</label>
        <div class="col-10">
          <input class="form-control" type="password">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-lg">Entrar </button> 
        </div>
        <div class="col">
          <p><a href="#">Esqueceu sua senha?</a></p>
        </div>
      </div>
    </form>
  </div>
</div>

<br>
<p class="text-center">Não possui uma conta? <a class="decoration" href="/cadastro">Crie agora! </a></p>

<br>
<br>
<br>
      
</div>

<div class="col col-lg-2"></div>
    
</div>
</div>