
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/painel">Painel</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </div>
  </nav>
</div>
        
<router-outlet></router-outlet>

<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Sobre a eSports Team</h5>
            <p class="grey-text text-lighten-4">We hope you have enjoyed using Materialize! If you feel Materialize has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
          </div>     
          <div class="col l4 s12">
            <h5 class="white-text">Nosso Newsletters</h5>
            <p class="grey-text text-lighten-4">Invreva-se em nosso newsletters e fique por dentro de todas as novidades sobre a nossa plataforma!</p>
            <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="https://gitter.im/Dogfalo/materialize">Insvreva-se</a>
          </div>
          <div class="col l4 s12">
                <h5 class="white-text">Nossos Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Painel</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sobre</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contato</a></li>
                </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Copyright © 2017 eSports Team, Todos os direitos reservados.
        </div>
      </div>
    </footer>