<md-sidenav-container>
  <md-toolbar color="primary">
      <a md-button routerLink="['/']"><md-icon> home </md-icon> Home</a> 
      <a md-button routerLink="['/login']">Login</a>
      <a md-button routerLink="['/cadastro']">Cadastro</a>
      <a md-button routerLink="['/blog']">Blog</a>
      <a md-button routerLink="['/contato']">Contato</a>
  </md-toolbar>
</md-sidenav-container>

  <!--[ container ] -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <md-sidenav-container>
      <md-toolbar color="primary">
          <md-icon> home </md-icon> eSports Team
      </md-toolbar>
    </md-sidenav-container>