<br>
<div class="row">
<div class="container">
  <div class="col s6">
    <form>
      <label for="first_name">Nome</label>
      <input placeholder="Seu nome" id="first_name" type="text" class="validate">

      <label for="first_name">Email</label>
      <input placeholder="Seu email" id="first_name" type="text" class="validate">

      <label for="first_name">Senha</label>
      <input placeholder="Sua senha" id="first_name" type="password" class="validate">

    <br>
    <br>
    <a class="waves-effect waves-light btn-large">Cadastrar</a>
        
    </form>
  </div>
</div>
  
  <div class="col s6">6-columns (one-half)</div>
</div>
          