<div class="row">
  <div class="col-xs-6 col-md-4"></div>
  <div class="col-xs-6 col-md-4">
    <div class="card text-center">
      <div class="card-block">
        <h3 class="card-header">Cadastro de Time</h3>
      </div>
    </div>
    <form novalidate #meuForm="ngForm" (submit)="cadastrar($event)">
       <div class="form-group row">
            <label for="nome">Nome:</label>
            <input required name="nome" #nome="ngModel" [(ngModel)]="time.nome" minlength="3" maxlength="12" type="text" class="form-control" id="nome" placeholder="Nome do time...">
        </div>

        <div class="form-group row">
          <label for="descricao">Descrição:</label>
          <input required name="descricao" #descricao="ngModel" [(ngModel)]="time.descricao" minlength="3" maxlength="100" type="text" class="form-control" id="descricao" placeholder="Descrição do time...">
      </div>

        <div class="row">
            <div class="col">
            <button [disabled]="meuForm.form.invalid" type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar </button> 
            </div>
        </div>
    </form>
    <br>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>

<br>