

<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Painel de Usuário</h4>
                            <p class="category">Seja bem-vindo ao seu painel</p>
                        </div>
                        <div class="card-content">
                        <a [routerLink]="['/painel/times/cadastro']" class="btn btn-info">Cadastro de Time</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        