<!-- wrapper -->
	<div id="wrapper">
		<section class="hero" style="background-image: url(http://gameforest.yakuzi.eu/img/cover/cover.jpg);">
			<div class="hero-bg-primary"></div>
			<div class="container">
				<div class="page-header">
					<div class="page-title">Entre em contato</div>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Contato</li>
					</ol>
				</div>
			</div>
		</section>

		<section class="padding-30">
			<div class="container text-center">
				<h2 class="font-size-22 font-weight-300"> Gostaríamos de ouvir <span class="font-weight-500">sua opinião</span>, estamos esperando a sua mensagem!</h2>
			</div>
		</section>

		<section class="border-top-1 border-bottom-1 border-grey-400 section no-padding no-margin">
			<img src="http://i.imgur.com/dtml5Yd.png"/>
		</section>

		<section class="overflow-hidden">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="title">
							<h4><i class="fa fa-envelope"></i> Entre em contato com a equipe do eSports Team</h4>
							<p>A nossa equipe está aguardando o seu contato, vamos responder assim que possivel</p>
						</div>
						<form>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email" required>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Assunto" required>
							</div>
							<div class="form-group">
								<textarea class="form-control" rows="7" placeholder="Mensagem"></textarea>
							</div>
							<div class="text-center margin-top-30">
								<button type="button" class="btn btn-primary btn-lg btn-rounded btn-shadow">Enviar mensagem</button>
							</div>
						</form>
					</div>
					<div class="col-lg-5 height-300">
						<img src="http://gameforest.yakuzi.eu/img/content/contact.jpg" class="image-right" alt="">
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /#wrapper -->
