<!-- wrapper -->
	<div id="wrapper">
		<section class="hero hero-panel" style="background-image: url(http://gameforest.yakuzi.eu/img/cover/cover-login.jpg);">
			<div class="hero-bg"></div>
			<div class="container relative">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pull-none margin-auto">
						<div class="panel panel-default panel-login">
							<div class="panel-heading">
								<h3 class="panel-title"><i class="fa fa-user"></i> Faça seu login</h3>
							</div>
							<div class="panel-body">
								<a class="btn btn-block btn-social btn-github" href="/auth/github"><i class="fa fa-github"></i> Conectar com GitHub</a>
								<div class="separator"><span>ou</span></div>
								<form novalidate name="formulario" class="row" ng-submit="submeter()">
									<div class="form-group input-icon-left">
										<i class="fa fa-user"></i>
										<input type="text" name="name" class="form-control" placeholder="Usuário" ng-model="usuario.name" required>
									</div>
									<div class="form-group input-icon-left">
										<i class="fa fa-lock"></i>
										<input type="password" name="senha" class="form-control" placeholder="Senha" ng-model="usuario.senha" required>
									</div>
									<button type="submit" class="btn btn-primary btn-block" ng-disabled="formulario.$invalid">
										Login
									</button>

									<div class="form-actions">
										<div class="checkbox checkbox-primary">
											<input type="checkbox" id="checkbox">
											<label for="checkbox">Lembrar-me</label>
										</div>
									</div>
								</form>
							</div>
							<div class="panel-footer">
								Ainda não tem conta? <a href="/#!/cadastro">Faça seu cadastro</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /#wrapper -->
