<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Perfil de Usuário</h4>
                        <p class="category">Atualize os seus dados</p>
                    </div>
                    <div class="card-content">
                        <form novalidate #meuForm="ngForm" (submit)="cadastrar($event)">
  
                            <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Login de Usuário</label>
                                      <input id="login" name="login" class="form-control"
                                      [(ngModel)]="usuario.login" #login="ngModel" >
  
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-black label-floating is-empty">
                                      <label class="control-label">Senha</label>
                                      <input required name="senha" #senha="ngModel" [(ngModel)]="usuario.senha" minlength="3" maxlength="6"
                                      type="password" class="form-control" >
                                  </div>
                              </div>
                          </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Nome de Usuário</label>
                                        <input required name="nome" #nome="ngModel" [(ngModel)]="usuario.nome" minlength="3" maxlength="6"
                                        type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>
    
                            <button [disabled]="meuForm.form.invalid" type="submit" class="btn btn-danger pull-right">Atualizar Perfil</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>
    
                    <div class="content">
                        <h6 class="category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    